body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("y.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px) brightness(0.4);
    z-index: -1;
}

a:link {
    color: #dfcaf8;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px; /* Убираем 5%, чтобы margin работал корректно */
    box-sizing: border-box;
}

.block {
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left {
    align-self: flex-start;
    width: fit-content;
}

.right {
    align-self: flex-end;
    width: fit-content;
}

.center {
    align-self: center;
    width: fit-content;
}

.image-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-text img {
    min-width: 300px;
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.block h2 {
    color: #bb86fc;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.block p {
    font-size: 1.2em;
}

audio {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
    color: #e0e0e0;
    display: block;
    backdrop-filter: blur(5px);
}

.image-block {
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-block img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 100%;
    box-sizing: border-box;
}

.same-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.same-line .card-container {
    max-width: 70%;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    flex: 1 1 0;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card h3 {
    color: #bb86fc;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.card p {
    font-size: 1.2em;
}

/* Стили для первой карточки в ряду */
.card-container .card.first {
    flex-basis: 100%; /* Занимает всю ширину */
    min-width: 0; /* Отменяем min-width для первой карточки */
}

/* Стили для второй и третьей карточек, если первая с изображением */
.card-container .card.first.image-text + .card,
.card-container .card.first.image-text + .card + .card { /*стили для 3 карточки*/
    flex-basis: calc(50% - 10px); /* Делят оставшееся пространство пополам */
}
.card-container .card.first.image-text + .card .image-text img{
    display: none;
}
.right-image{
    float: right;
    max-width: 30%;
    margin-left: 20px;
}
.same-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.same-line .card-container {
    max-width: 65%;
}
.same-line .block {
    width: 30%;
}
.card-container .card{
    margin-bottom: 10px;
}
.card-container .card:last-child{
    margin-bottom: 0px;
}
/* Медиа-запросы */
@media (min-width: 768px) {
    .card.image-text {
        flex-direction: row;
        align-items: center;
    }

    .card.image-text img {
        max-width: 40%;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .same-line .block{
        width: 30%;
    }
}

@media (max-width: 767px) {
    .image-text img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card {
        flex: 1 0 90%;
        min-width: 0;
    }

    .same-line {
        flex-direction: column;
    }

    .same-line .block {
        width: 100%;
        margin-bottom: 10px;
    }

    .same-line .card-container {
        max-width: 100%;
    }
    .card-container .card{
        flex-basis: 100%;
    }
    .card-container .card.first + .card{
        margin-top: 10px;
    }
}


footer {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    padding: 10px;
    text-align: center;
    color: #757575;
}